@if (data.length) {
<div
  appPagination
  [items]="data"
  [pageSize]="5"
  [sortFn]="sortBy"
  [filterFn]="filterBy"
  #paginator="pagination"
  (currentPageItems)="visibleItems = $event"
>
  @for (item of visibleItems; track $index) {
  <div>{{ item }}</div>
  } @empty {
  <div>No items left</div>
  }
  <button (click)="paginator.previousPage()">Previous</button>
  <span>Page {{ paginator.currentPage() }} of {{ paginator.totalPages() }}</span>
  <button (click)="paginator.nextPage()">Next</button>
</div>
}
